[Unit]
Description=APRS digipeater beacon (invokes ax25-tools beacon)
After=aprsdigi.service
Wants=aprsdigi.service

[Service]
EnvironmentFile=/etc/ax25/aprsdigi.conf
ExecStart=/usr/sbin/beacon -d "${BEACON_DEST}" ${BEACON_PORT} "${BEACON_TEXT}"

[Install]
WantedBy=aprsdigi.service



