[Unit]
Description=DINAH AX.25 soundmodem
After=sound.target network.target multi-user.target
Requires=dev-snd-DINAH.device

[Service]
Type=forking
ExecStart=/usr/sbin/dinah

[Install]
WantedBy=dev-snd-DINAH.device
